@font-face {
    font-family: "gotham";
    src: url(../fonts/gotham/Gotham-Black.otf) format(truetype);
    src: url(../fonts/gotham/Gotham-Black.woff) format(woff);
    src: url(../fonts/gotham/Gotham-Black.woff2) format(woff2);
  }
  